<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIチャットボット</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="chatbot-container">
        <div class="chatbot-header">AI店長</div>
        <div class="chatbot-messages" id="chatbot-messages">
            <div class="message bot-message">こんにちは！アールフラワーです！ 何か質問はありますか？(フラスタや回収、札についてなど) </div>
            <div class="example-questions-container">
                <button class="example-btn">配送・回収について</button>
                <button class="example-btn">空き状況について</button>
                <button class="example-btn">ご注文について</button>
                <button class="example-btn">お支払いについて</button>
                <button class="example-btn">納品までの流れについて</button>
                <button class="example-btn">パネルの代行について</button>
            </div>
        </div>
        <div class="chatbot-input">
            <input type="text" id="user-input" placeholder="メッセージを入力..." onkeypress="handleKeyPress(event)">
            <button onclick="sendMessage()">送信</button>
        </div>
    </div>
   <script src="/static/script.js"></script>
</body>
</html>
